---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";
import { getImage } from "astro:assets";

import mysticbannerImage from "~/assets/mystic-banner.jpg";
const optmysticbannerImage = await getImage({src: mysticbannerImage, format: 'webp'})

import mysticImage from "~/assets/mysticimage.jpg";
const optmysticImage = await getImage({src: mysticImage, format: 'webp'})

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<!-- <section class="relative h-full bg-black"> -->
<!-- <section style={`background-image: url(${mysticbannerImage.src})`} class="relative bg-cover bg-center bg-no-repeat"> -->

<!-- <section class={`relative bg-[${url(optmysticbannerImage.src)}] bg-cover bg-center bg-no-repeat`}> BROKE -->
<!-- <section class="relative bg-cover bg-center bg-no-repeat" style={{ background-image: `url(${mysticbannerImage})` }}> BROKE -->

<!-- <section class="relative bg-indigo-500 bg-cover bg-center bg-no-repeat"> WORKS -->
<!-- <section class="relative bg-[url('/mystic-banner.jpg')] bg-cover bg-center bg-no-repeat"> WORKS USING PUBLIC -->

<section style={`background-image: url(${optmysticImage.src})`} class="relative bg-cover bg-center bg-no-repeat">

  <!-- <Starfield /> -->
  <!-- <GitHubCorner /> -->
  <!-- <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40"> -->
  <!--   <HeroImage /> -->
  <!-- </div> -->

  <!-- <div class="relative bg-[url(~/assets/mystic-banner.jpg)] bg-cover bg-center bg-no-repeat"> -->
  <!-- <div class="relative grid h-screen place-items-center sm:grid-cols-2"> -->

  <!-- <div class="relative grid h-screen place-items-center"> -->
  <!-- <div class="relative h-screen"> -->
  <!--   <\!-- <h2 class="flex flex-col items-center gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end"> -\-> -->
  <!--   <h2 class="flex flex-col"> -->
  <!--     <\!-- <Icon name="logomark" class="size-20 text-white md:size-32" /> -\-> -->
  <!--     <\!-- <div class="gradient-text text-center font-extrabold tracking-tighter text-6xl md:text-8xl"> -\-> -->
  <!--     <div class="gradient-text text-center font-extrabold tracking-tighter text-sm md:text-4xl"> -->
  <!--       Mystic Oracle Guidance -->
  <!--       <br /> Psychic & Numerology Guidance -->
  <!--     </div> -->
  <!--   </h2> -->

  <div class="flex flex-col items-center justify-center h-screen">
    <h2>
      <div class="gradient-text text-center font-extrabold tracking-tighter text-sm md:text-6xl">
        Mystic Oracle Guidance
        <br /> Psychic & Numerology Guidance
      </div>
    </h2>
  </div>

    <!-- <div id="astronaut" -->
    <!--   class="w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start"> -->
    <!--   <Image -->
    <!--     src={mysticbannerImage} -->
    <!--     class="h-full w-full object-cover" -->
    <!--     widths={widths} -->
    <!--     sizes={sizes} -->
    <!--     loading="eager" -->
    <!--     alt="A floating astronaut in a space suit" -->
    <!--   /> -->
    <!-- </div> -->

  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  /* #astronaut {
    animation: float linear 2.5s infinite alternate;
  } */

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
